<div class= "text-center py-3">
  <span class="show-title">Edit <%= @cocktail.name %> <i class="fas fa-mortar-pestle"></i></span>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-sm-5 col-12 d-flex justify-content-end">
    <%= cl_image_tag(@cocktail.photo.key, transformation: [ {crop: "crop", width: 900, height:900},
                                                          {width: 200, hight: 300, gravity: 'auto', crop: "fill", quality: 100}]) %>
  </div>
  <div class="col-sm-5 col-12 align-self-center">
    <% @cocktail.doses.each do |dose| %>
      <p>
        <%= "#{dose.description} of #{dose.ingredient.name}" %>
        <%= link_to dose_path(dose), method: :delete, remote: true do %>
          <i class="fas fa-minus-circle text-danger"></i>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

<div class="row d-flex justify-content-center pt-3">
  <%= render "form", cocktail: @cocktail %>
</div>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>

<div class="my-3">
  <%= link_to cocktail_path(@cocktail) do %>
    <i class="fas fa-backward icon-link text-success"></i>
  <% end %>
</div>
